<nav class="flex items-center justify-around shadow-lg py-2">
  <a routerLink="/" class="text-3xl z-50 sm:text-2xl xs:text-xl font-bold">
    <h1 class="hover:animate-ping hover:text-cyan-300">Store</h1>
  </a>
  <ul
    class="flex items-center justify-between z-50 gap-x-7 font-bold sm:gap-4 sm:text-lg xs:font-medium text-xl"
  >
    <li
      class="cursor-pointer hover:text-cyan-400 hover:-translate-y-1 transition-all ease-linear"
      routerLink="/products"
    >
      Products
    </li>
    <li
      class="cursor-pointer hover:text-cyan-400 hover:-translate-y-1 transition-all ease-linear"
      routerLink="/cart"
    >
      Cart
    </li>
  </ul>
</nav>
